
h2 {
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

body {
    padding: 0.6em 2.4em;
    margin: 0;
}

p1 {
  color: #333;
}

body > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body > ul > li {
  display: grid;
  grid-template-columns: 141px 1fr; 
  align-items: start;
  padding: 15px 0;
  font-weight: bold;
  color: #333;
}

body > ul > li > ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  font-weight: normal; 
  padding-left: 1em;
  border-left: 2px solid #eee;
  list-style: none;
}

